.app {
  text-align: center;
}

.age-label {
  margin-top: 10px;
  margin-bottom: 30px;
}

.user-list {
  margin-top: 10px;
  margin-bottom: 30px;
  list-style-type: none;
}

button {
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom:10px; */
}